{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro%}
{% block styles%}
{{ super() }}

<link rel="stylesheet" type="text" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
<body>

<div class="container">
        <div class="row">
          
                    <h2><a href="{{url_for('main.new_pitch')}}" style="color:aliceblue;">
                    <p class="title">Create your Pitch</p>
                  </a></h2>

                   
         
        </div>
</div>
        
</body>
<style>
  body{
    background-image: url("/static/photos/pitch.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  }
</style>
{% endblock %}
